@page
@using Humanizer
@model IndexModel
@{
    ViewData["Title"] = "Welcome";
}

<div class="text-center">
    <h2>Latest Activity</h2>
    @foreach(var assignedBadge in Model.BadgeAssignments)
    {
        <div><b>@assignedBadge.User.PrincipalName</b> received the <b>@assignedBadge.Badge.Name</b> badge @assignedBadge.DateAssigned.Humanize()</div>
    }
</div>
