@page
@model BadgeMeUp.Pages.WhoAmIModel
@{
    ViewData["Title"] = "Who am I?";
}

<p>
    Name: @Model.Name
    <br/> Principal ID: @Model.PrincipalId
    <br/>
    @foreach(var header in Model.Headers)
    {
        <div>@header.Key: @header.Value</div>
    }
</p>