@page
@model BadgeMeUp.Pages.badges.AwardModel
@{
}

<p>You can award any of your badges (earned or created) to other users. Don't worry, you never lose a badge!</p>

<form method="post">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <input type="hidden" asp-for="@Model.BadgeToAward.Id" />

    <div class="form-group">
        <label>Badge Details:</label> 
        <div class="card" style="width: 18rem;">
          <div class="card-body">
            <h5 class="card-title">@Model.BadgeToAward.Name</h5>
            <p class="card-text">@Model.BadgeToAward.Description</p>
          </div>
        </div>
    </div>

    <div class="form-group">
        <label asp-for="SelectedUserId" class="control-label">
            User to award this badge to:
        </label>
        <select class="form-select" name="selectedUserId" style="width: 30rem;"
            asp-for="SelectedUserId"
            asp-items="@(new SelectList(Model.AllUsers, "Id", "Alias"))">
        </select>
    </div>

    <div class="form-group">
        <label asp-for="Comments" class="control-label">
            (optional) Add a message for the recipient:
        </label><br />
        <textarea asp-for="Comments" style="width: 300px; height: 100px;"></textarea>
    </div>

    <div class="form-group">
        <label asp-for="ChangeOwner" class="control-label">
            (optional) TRANSFER this badge instead of copying it
        </label>
        <input type="checkbox" asp-for="ChangeOwner" name="changeOwner" />
    </div>

    <div class="form-group">
        <div class="alert alert-primary" role="alert">
            Please ensure that the user you are awarding this badge to has meet the required criteria.
        </div>
        <input type="submit" value="Award" class="btn btn-primary" />
    </div>
</form>
