@page
@model BadgeMeUp.Pages.Badges.IndexModel

@if (@Model.OtherUser == null)
{
    <h2>Your Badges</h2>

    <p>
        Congratulations! These are the badges that you have created or have been awarded.
        You can copy <a asp-page="Index" asp-route-id="@Model.UserId">this URL</a> to share yours!
    </p>
}
else
{
     <h2>Badges belonging to @Model.OtherUser</h2>
}

<div class="container">
    <div>
        @foreach(var assignedBadge in Model.AssignedBadges)
        {
            <div class="col" style="float: left; margin-right: 15px; margin-bottom: 15px;">
                    <partial name="BadgeWidget" model="@new BadgeMeUp.Pages.Shared.BadgeWidget(assignedBadge.Badge, true)" />
            </div>
        }
    </div>
</div>