@page
@model BadgeMeUp.Pages.Badges.IndexModel

@{
    if (Model.OtherUser == null)
    {
        ViewData["Title"] = "My Badges";
    }
    else
    {
        ViewData["Title"] = "Badges for " + Model.OtherUser;
    }
}

@if (@Model.OtherUser == null)
{
    <h2>Your Badges</h2>

    <p>
        Congratulations! These are the badges that you have created or have been awarded.
        You can copy <a asp-page="Index" asp-route-id="@Model.UserId">this URL</a> to share yours!
    </p>
}
else
{
     <h2>Badges belonging to @Model.OtherUser</h2>
}

<script src="https://cdn.jsdelivr.net/npm/masonry-layout@4.2.2/dist/masonry.pkgd.min.js" integrity="sha384-GNFwBvfVxBkLMJpYMOABq3c+d3KnQxudP/mGPkzpZSTYykLBNsZEnG2D9G/X/+7D" crossorigin="anonymous" async></script>
<script src="https://unpkg.com/imagesloaded@4/imagesloaded.pkgd.min.js"></script>

<div class="grid">
    <div class="row" id="masonry">
        @foreach(var assignedBadge in Model.AssignedBadges)
        {
            <div class="col-sm-5 col-lg-3 mb-2">
                    <partial name="BadgeWidget" model="@new BadgeMeUp.Pages.Shared.BadgeWidget(assignedBadge.Badge, true)" />
            </div>
        }
    </div>
</div>

<script type="text/javascript">
    var grid = document.getElementById('masonry');

    if(grid) {
        imagesLoaded(grid, () => {
            console.log("Images loaded");
            var msnry = new Masonry(grid);
            msnry.layout();
        });
    }
</script>