@page
@model BadgeMeUp.Pages.Badges.ReceiveModel
@{
}

<form method="post">
    <div class="mb-3">
        <p>
            Congratulations! <b>@Model.FromUser.PrincipalName</b> sent you a badge. All you need
            to do is accept it.
        </p>
        
        <partial name="BadgeWidget" model="@new BadgeMeUp.Pages.Shared.BadgeWidget(Model.Badge, false)" />
        
        @if(Model.AwardMessage != null)
        {
            <b>Message from @Model.FromUser.PrincipalName:</b>
            <p>

                @Model.AwardMessage
            </p>
        }
    </div>
    <button type="submit" class="btn-primary btn">Accept Badge</button>
</form>